<!-- sin andar el dropdown y tampoco use thumbnail  preguntar por responsive -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" lang="es">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/stylev2.css">
    <title>webstore</title>
</head>

<body>
        <% include Partials/header %>

   <!-- aca tiene que ir con un for , para que cargue directo de mongo -->
    <div class="container">
        
    <% products.forEach(function(product){ %>
        <div class="row">
            <div class="col-lg-2 col-md-3  col-sm-4 ">
                <div class="thumbnail">
                    <img src="<%= Product.urlImageProduct %>" alt=" <%= Product.nameProduct %>">
                    <div class="caption">
                        <p class="izq_text"><strong>Nombre:</strong><%= Product.nameProduct %>"</p>
                        <p class="izq_text"><strong>Descripcion:</strong><%= Product.descriptionProduct%></p>
                        <p class="izq_text"><strong>Precio</strong><%= Product.priceProduct %></p>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>

    <% include Partials/footer %>
    </div>
    <!-- thumbnail fin -->
    <script type="text/javascript" src="javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
</body>

</html>
